<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Link Sent</title>
    <link rel="icon" type="image/x-icon" href="media/tc.jpg">
</head>
<body>
    <center style="background-color: aquamarine; padding: 30%;text-align: center;">
    <h1>Password Reset Link Sent Successfully</h1>
    <p>Please check your inbox for the password reset link. If you don't see it, be sure to check your spam or junk folder.</p></center>
</body>
</html>